* {
    padding: 0;
    margin: 0;
   
 }

body {
    margin: 0;
    background-color: #000000;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;

}
@media (max-width: 600px){
    .body{
      max-width: 300px;
    }
}


div{
    
    margin: 40px auto;
    font-size: 20px;
    text-align: center;
    /* border: solid; */
    color: #fff;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

@media (max-width: 600px){
    div{
      max-width: 300px;
      align-items: center;
    }
}
.sobre{
    font-size: 30px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;

}
.header img{
    width: 300px;
    
}
.logo{
   
    height: 250px;
    width: 400px;
    ;}
    @media (max-width: 600px){
      .logo{
        height: 250px;
        width: 600px;
      }
 }
 @media (max-width: 600px){
  .answer{
    max-width: 300px;
    align-items: center;
  }

}
